/* body {
    text-align: center;
  } */
.text1 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Palatino Linotype", Palatino, serif;
    /* git font-weight: bold; */
    letter-spacing: 1px;
    font-size: larger;
    color: #3a2424; /*  warmer text color */

    opacity: 0; /* make the sentence hidden at first */

    animation: 
      typing 2.5s steps(40, end) forwards, /* typing effect */
      fadeIn 0.01s forwards, 
      cursor 0.8s step-end infinite alternate;

    animation-delay: 0s, 0s, 0s; 
}

.text1 a {
  color: #6b3e2e;
  text-decoration: underline;
  font-weight: bold;
}

.text1 a:hover {
  color: #9b4e2e;
}

/* .cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 0.8s step-end infinite alternate;
} */

@keyframes typing {
    from { max-width: 0ch; }
    to { max-width: 300ch; } /* needs to be big enough to show text for that line */
}
  
/* fade in animation */
@keyframes fadeIn {
    to { opacity: 1; }
}
